*{
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
@font-face {
    font-family: "lato";
    src: url(Lato-Regular.ttf);
}
@font-face {
    font-family: "notoserif";
    src: url(NotoSerif_Condensed-Regular.ttf);
}
@font-face {
    font-family: "nunito";
    src: url(Nunito-Regular.ttf);
}
@font-face {
    font-family: "montserrat";
    src: url(Montserrat-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(Poppins-Regular.ttf);
}
/*fonts*/
.blue_line h3, .home nav{
    font-family: "lato";
}
.current_price, .status, .text button{
    font-family: "nunito";
}
.info text{
    font-family: "montserrat";
}
/*end fonts*/

.blue_line{
    background-color: #0A0F29;
    display: flex;
    justify-content: space-evenly;
}
.elements{
    display: flex;
    color: #FFFFFF;
    align-items: center;
}
.status, .status1 ,.current_price{
    padding-left: 11px;
    font-size: 14px;
}
.elements h3{
    padding-left: 5px;
}
.status{
    color: #1DEA4A;
}
.status1{
    color: #FF0000;
}

.home{
    background-image: url(green\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.home nav{
    display: flex;
    color: #ffff;
    align-items: center;
}
.list1, .list2{
    display: flex;
    color: #FFFFFF;
    list-style-type: none;
    margin-left: 130px;
}
.line{
    width: 2px;
    height: 40px;
    background-color: white;
    position: absolute;
    left: 990px;
}
.list1 li, .list2 li{
    padding-left: 40px;
    font-size: 28px;
    padding-right: 10px;

}
.coindash{
    margin-left: 60px;
}
.info{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}
.text{
    font-family: "montserrat";
    color: #FFFFFF;
    padding-bottom: 60px;
}
.text h1{
    font-size: 52px;
}
.text p{
    font-weight: 400;
    font-size: 40px;
}
.text button{
    width: 300px;
    height: 65px;
    border-radius: 20px;
    border: none;
    font-size: 24px;
    font-weight: 400;
}
.start{
    background-color: #F7931A;
    color: #FFFFFF;
}
.view{
    background-color: #FFFFFF;
}
.buttons{
    display: flex;
    column-gap: 21px;
}

.second_slide{
    margin-top: 32px;
}
.second_slide h1{
    text-align: center;
    font-family: "montserrat";
    color: #2F66F6;
    font-size: 46px;
}
.second_slide h5{
    text-align: center;
    font-size: 40px;
    font-family: "montserrat";
    font-weight: 400;
}
.boxes{
    font-family: "poppins";
    display: flex;
    background-color: #F5F5F5;
    justify-content: space-around;
    width: 1450px;
    margin-inline: auto;
}

.boxes h3{
    color: #2F66F6;
    font-size: 36px;
    margin: 0;
}
.informacia{
    display: flex;
}
.first_box, .second_box, .third_box{
    display: flex;
    align-items: center;
}
.teqstebi p{
    margin: 0;
    font-weight: 400;
}
.box_img{
    padding: 20px;
    margin-bottom: 45px;
}



.title{
    text-align: center;
    font-size: 64px;
    color: #2F66F6;
    padding-top: 10px;
}
.abc{
    font-family: "nunito";
}
.About h2{
    font-family: "montserrat";
}
.About p{
    font-family: "nunito";
}

.orange_box h2{
    font-family: "montserrat";
}
.orange_box  .price{
    font-family: "montserrat";
}
.green{
    font-family: "lato";
}
.bttn1, .bttn3{
    width: 200px;
    height: 75px;
    color: #FFFFFF;
    font-size: 28px;
    border: none;
    border-radius: 10px;
}
.bttn1{
    background-color: #098C26;
}
.bttn3{
    background-color: #CD0000;
}
.bttn2{
    width: 300px;
    height: 80px;
    border: none;
    border-radius: 10px;
    box-shadow: 13px 8px 10px grey;
}
.bttn2 div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.third_slide_buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bttn2 b{
    font-size: 24px;
    margin-inline: auto;
    padding-right: 30px;
}
.bttn2 img{
    width: 65px;
    height: 65px;
    margin-left: 10px;
}
.third_slide_info{
    display: flex;
    margin-top: 30px;
    margin-left: 32px;
    justify-content: space-between;
}
.About h2{
    font-size: 52px;
}
.more{
    position: absolute;
    left: 350px;
    top: 1906px;
    color: #2F66F6;
}
.orange_box{
    background-color: #FCC98A;
    width: 400px;
    height: 410px;
    border: 0.25px solid #000000;
    box-shadow: 0px 20px 10px grey;
    margin-top: 50px;
    margin-right: 75px;
}
.orange_box .green{
    color: #098C26;
}
.orange_box h1{
    color: #CD0000;
    padding-top: 27px;
    font-size: 40px;
}
.orange_box h2{
    font-weight: 600;
    line-height: 63.39px;
}

.orange_box h1, .orange_box h2{
    text-align: center;
}
.price{
    font-size: 40px;
}
.orange_box h2{
    font-size: 50px;
}
.price, .green{
    margin-left: 90px;
}
.green b{
    font-size: 30px;
}
.isari{
    position: absolute;
    right: 45px;
    top: 1660px;
}
.third_slide{
    background-color: #F5F5F5;
    width: 1450px;
    margin-top: 27px;
    padding-bottom: 40px;
    margin-left: 35px;
}

.fourth_slide{
    background-color: #F5F5F5;
    width: 1450px;
    margin-top: 27px;
    margin-left: 35px;
}
.fourth_slide h1{
    margin-top: 27px;
    color: #2F66F6;
    font-size: 64px;
    text-align: center;
}
.small_box{
    font-family: "montserrat";
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 54px;
    margin-right: 54px;
}
.all {
    font-size: 52px;
}
.img_text .big_text, .current{
    font-family: "lato";
}
.grey, .status2{
    font-family: "poppins";
}
.text_button p{
    font-family: "montserrat";
}
.text_button button{
    font-family: "poppins";
}
.add{
    font-size: 52px;
    color: #9B9B9B;
    display: flex;
    align-items: center;
}
.box1, .box2, .box3, .box4, .box5{
    display: flex;
    
}
.card{
    display: flex;
    align-items: center;
    width: 700px;
    height: 100px;
    border: 1px solid #00000040;
    box-shadow: 0px 10px 10px grey;
    border-radius: 10px;
    justify-content: space-around;
}
.current{
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}
.status2{
    font-size: 24px;
    font-weight: 400;
    color: #098C26;
    margin: 0;
    float: inline-end;
}
.big_text, .grey{
    margin: 0;
}
.big_text{
    font-size: 36px;
    font-weight: 700;
}
.grey{
    color: #959595;
}
.img_text{
    display: flex;
    align-items: center;
}
.numeracia{
    font-size: 40px;
    font-weight: 400;
    margin-left: 15px;
    margin-right:  10px;
}
.status3{
    font-size: 24px;
    font-weight: 400;
    color: #CD0000;
    margin: 0;
    float: inline-end;
}
.picture{
    margin-right: 8px;
}

.green_box{
    width: 475px;
    height: 330px;
    background-color: #9AFFB080;
    display: flex;
    margin-right: 55px;
    margin-top: 130px;
}
.text_button button{
    width: 226px;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: #01AB6C;
    color: #FFFFFF;
    margin-left: 12px;
    font-size: 24px;
    position: absolute;
    top: 2710px;
    left: 970px;
}
.watchlist{
    display: flex;
    justify-content: space-between;
}
.text_button p{
    font-size: 40px;
    font-weight: 700;
    margin-left: 24px;
}
.greenbox_img img{
    margin-top: 30px;
}

.fifth_slide{
    background-color: #F5F5F5;
    width: 1450px;
    margin-left: 35px;
}
.trade{
    background-image: url(P2P\ Trade\ Box.png);
    width: 1450px;
    height: 250px;
    margin-top: 28px;
}
.trade button{
    width: 420px;
    height: 80px;
    border: none;
    background-color: #F8F9FB;
    color: #2F66F6;
    font-size: 46px;
    font-weight: 600;
    border-radius: 10px;
    font-family: "montserrat";
    margin-left: 480px;
    margin-top: 50px;
}
.trade p{
    color: #FFFFFF;
    font-family: "nunito";
    font-size: 28px;
    text-align: center;
    margin-top: 70px;
}
.fifthslide_nav nav, .people{
    font-family: "nunito";
}
.fifthslide_nav nav{
    display: flex;
    margin-bottom: 18px;
    margin-left: 35px;
    color: #949494;
    justify-content: space-around;
}
.people{
    margin-left: 35px;
    margin-top: 34px;
}
.person1, .person2, .person3, .person4{
    display: flex;
    width: 1300px;
    height: 150px;
    background-color: #ECECEC;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 50px;
}

.different1{
    background-color: #FDE9D0;
    color: #F7931A;
    margin-left: 6px;
}
.different2{
    background-color: #D2F1C5;
    color: #098C26;
    margin-left: 6px;
}
.high_low, .fee, .a123{
    display: flex;
}
.limit_available{
    margin-left: 30px;
}
.div3{
    display: flex;
}
.monacemebi{
    display: flex;
    align-items: center;
}
.text_like{
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.bank{
    width: 100px;
    height: 30px;
    background-color: #FDE9D0;
    color: #F7931A;
    border: none;
    margin-right: 27px;
}
.sell{
    width: 150px;
    height: 40px;
    color: #FFFFFF;
    background-color: #CD0000;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.div4{
    margin-top: 45px;
    margin-right: 30px;
}
.name{
    font-size: 28px;
    color: #2F66F6;
    margin: 0;
    margin-top: 19px;
    margin-left: 15px;
}
.lim_avail{
    color: #949494;
    margin-top: 30px;
    margin-right: 20px;
}
.div2 .tanxa{
    font-size: 28px;
}
.div2{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.prices{
    margin-top: 30px;
}
.usd{
    margin-left: 5px;
    font-size: 20px;
}
.aaa{
    margin-left: 65px;
}
.percent{
    margin: 0;
}

.sixth_slide{
    margin-top: 47px;
    width: 1450px;
    background-color: #F5F5F5;
    margin-left: 35px;
}
.sixth_slide h1{
    text-align: center;
    font-size: 64px;
    color: #2F66F6;
}
.sixth_slide p{
    font-family: "poppins";
    text-align: center;
    font-size: 32px;
}
.photo_inputs{
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
}
input{
    padding-left: 20px;
    margin-top: 14px;
    font-family: "lato";
}
.nameinput, .emailinput{
    width: 700px;
    height: 60px;
    border: 2px solid #2A27BB;
    border-radius: 15px;
}
.messageinput{
    width: 700px;
    height: 270px;
    border: 2px solid #2A27BB;
    border-radius: 15px;
}
.seperator{
    width: 150px;
    height: 3px;
    background-color: #2A27BB;
    margin-inline: auto;
    border-radius: 20px;
}
.inputs{
    margin-left: 80px;
    margin-top: 40px;
    font-size: 28px;
}

.last_slide{
    margin-top: 14px;
    background-color: #0A0F29;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.contact{
    font-family: "poppins";
    font-size: 24px;
}
.socials{
    font-family: "lato";
    margin-top: 25px;
    margin-right: 50px;
}
.socials p{
    font-size: 36px;
    margin-top: 20px;
}
.nomeri, .message_us{
    margin-top: 35px;
}
.address, .nomeri, .message_us{
    display: flex;
    align-items: center;
}
.small{
    position: absolute;
    font-family: "poppins";
    right: 70px;
    top: 5030px;
}